<% if(lang === 'cn') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital1-cn.jpg"><img src="/images/capital1-cn.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital2-cn.jpg"><img src="/images/capital2-cn.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital3-cn.jpg"><img src="/images/capital3-cn.jpg" alt=""
                        width="100%"></a>
</div>
<% } else if(lang === 'vi') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital1-vi.jpg"><img src="/images/capital1-vi.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital2-vi.jpg"><img src="/images/capital2-vi.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital3-vi.jpg"><img src="/images/capital3-vi.jpg" alt=""
                        width="100%"></a>
</div>
<% } else { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital1-en.jpg"><img src="/images/capital1-en.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital2-en.jpg"><img src="/images/capital2-en.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/capital3-en.jpg"><img src="/images/capital3-en.jpg" alt=""
                        width="100%"></a>
</div>
<% } %>