<% if(lang === 'cn') { %>
<div class="fancybox">
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training1-cn.jpg"><img
            src="/images/training/training1-cn.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training2-cn.jpg"><img
            src="/images/training/training2-cn.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training3-cn.jpg"><img
            src="/images/training/training3-cn.jpg" alt="" width="100%"></a>
</div>
<% } else if(lang === 'vi') { %>
<div class="fancybox">
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training1-vi.jpg"><img
            src="/images/training/training1-vi.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training2-vi.jpg"><img
            src="/images/training/training2-vi.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training3-vi.jpg"><img
            src="/images/training/training3-vi.jpg" alt="" width="100%"></a>
</div>
<% } else { %>
<div class="fancybox">
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training1-en.jpg"><img
            src="/images/training/training1-en.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training2-en.jpg"><img
            src="/images/training/training2-en.jpg" alt="" width="100%"></a>
    <a class="fancybox mt-2" rel="gallery1" href="/images/training/training3-en.jpg"><img
            src="/images/training/training3-en.jpg" alt="" width="100%"></a>
</div>
<% } %>