<% if(lang === 'cn') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/training1_cn.jpg"><img src="/images/training1_cn.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training2_cn.jpg"><img src="/images/training2_cn.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training3_cn.jpg"><img src="/images/training3_cn.jpg"
                        alt="" width="100%"></a>
</div>
<% } else if(lang === 'vi') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/training1_vi.jpg"><img src="/images/training1_vi.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training2_vi.jpg"><img src="/images/training2_vi.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training3_vi.jpg"><img src="/images/training3_vi.jpg"
                        alt="" width="100%"></a>
</div>
<% } else { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1" href="/images/training1_en.jpg"><img src="/images/training1_en.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training2_en.jpg"><img src="/images/training2_en.jpg"
                        alt="" width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1" href="/images/training3_en.jpg"><img src="/images/training3_en.jpg"
                        alt="" width="100%"></a>
</div>
<% } %>