<div class="introduce-tech text-center">
    <img src="/images/company-logo.png" alt="company-bg" width="450px">
    <h1 style="padding: 20px 40px"><%= __('Giới thiệu hệ thống phân tích tự động') %></h1>
</div>
<% if(lang === 'cn') { %>
<iframe src="https://drive.google.com/file/d/1aRP0oyE2NcjkND15YzsfpcrwgnefWMVY/preview" width="100%"
    height="480"></iframe>
<% } else if(lang === 'vi') { %>
<iframe src="https://drive.google.com/file/d/1UEnM-mT2mKtn_OQ3SfvGQfjZl36COGb_/preview" width="100%"
    height="480"></iframe>
<% } else { %>
<iframe src="https://drive.google.com/file/d/1rJwdGasgMotU7xQK1NCrAjGE-QtfRx3O/preview" width="100%"
    height="480"></iframe>
<% } %>