<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="edu-top text-center">
            <h1 class="text-white">Advantages of CFDs</h1>
            <p class="text-white">VGF offers flexible trading conditions across a broad range of CFDs covering
                Indices, Energies, Metals, Commodities and more.
            </p>
            <button class="btn btn-success btn-lg">TRADE CFDs</button>
        </div>
        <article class="page-header__menu-container">
            <div class="page-header__menu">
                <div class="menu-item"><a href="#" class="menu-title">Education
                        overview</a></div>
                <div class="menu-item"><a href="#" class="menu-title">Advantages of
                        forex</a></div>
                <div class="menu-item current-page"><a href="#" class="menu-title">Advantages of
                        cfds</a></div>
                <div class="menu-item"><a href="#" class="menu-title">Video tutorials</a>
                </div>
                <div class="menu-item"><a href="#" class="menu-title">Web TV</a></div>
            </div>
        </article>
        <article class="page-content-container ">
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <div class="double-sidebar-block">
                        <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                            <div class="bottom-block">
                                <p class="bottom-block__message">Access over 200 markets &amp; tight
                                    spreads&nbsp;<br><br><b>with a regulated CFD Provider&nbsp;</b></p>
                                <div class="icm-button-wrapper bottom-block__cta-button">
                                    <button class="btn btn-success">
                                        <a href="/sc/en/open-trading-account/live">Start Trading</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="contact-card contact-block">
                            <div class="contact-header">
                                <div class="header-label">Contact Us</div>
                                <div class="header-title">We're here 24hrs a day Monday to Sunday.</div>
                            </div>
                            <div class="contact-pre-imaged chat-img">
                                <div><a href="#" class="text-dark">Help Centre</a></div>
                            </div>

                            <div class="contact-pre-imaged email-img">
                                <div><a href="#" class="text-dark">Email Us</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="first-section">
                        <h4
                            style="color: rgba(11,10,20,0.64); margin-bottom: 64px; font-size: 24px; font-weight: bold;">
                            CFD stands for ‘Contract for Difference’ and is a contract between two parties agreeing to
                            exchange the difference in the value of a security, instrument, or other asset between the
                            time at which the CFD is opened and the time at which it is closed.</h4>
                        <p>CFDs are extremely versatile products growing in popularity as a short term investment tool.
                            They provide an efficient way of maximizing your capital outlay and can help diversify your
                            existing investment portfolio or hedge a position. Some of the advantages of trading CFDs
                            are listed below.</p>
                    </div>
                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Speculate in Both Rising and Falling Markets</p>
                    <p>CFDs are derivatives based on an underlying instrument. There is no ownership of the underlying
                        asset, however they allow you to participate in the price movement of the asset. This means you
                        can potentially profit in both rising and falling markets.
                        <br>
                        In a rising market you would look to buy a CFD and then sell at a later date. This is called
                        ‘going long’.
                        <br>
                        In a falling market you would look to sell a CFD position first and then buy it back at a later
                        date closing out the position. This is known as ‘going short’.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Flexible Contract Sizes</p>
                    <p>The contract sizes of CFDs are often less than the typical contract size of the underlying
                        instrument which means you can gain exposure to the price movement of the instrument without a
                        significant deposit. Flexible sizing allows you to tailor your trading according to your risk
                        management criteria.</p>
                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Access Global Financial Markets</p>
                    <p>CFDs allow traders access to a wide range of global markets that would otherwise be difficult to
                        access. CFDs make it easy to trade commodities like Gold, Silver, Oil, as well as a variety of
                        global indices without having to trade the futures contract itself.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Disadvantages</p>
                    <p>You should always consider your risk appetite and investment strategy prior to trading leveraged
                        products. Leverage can work for you as well as against you and can magnify profits as well as
                        losses. In the event of a significant move against you, you may lose more than your initial
                        deposit. It is also important to be aware that you do not own the underlying instrument over
                        which the CFD is based. Further information regarding the benefits and risks of CFD trading can
                        be found in our Product Disclosure Statement.</p>

                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Trade Both Rising and Falling Markets</p>
                    <p>There are no restrictions in the Forex market as to which direction you can trade. This means
                        that if you believe a currency pair is going to increase in value you can buy it or ‘go long’.
                        Similarly, if you believe the pair is going to decrease in value you could sell it, or ‘go
                        short’.</p>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>