<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="edu-top text-center">
            <h1 class="text-white">Advantages of Forex</h1>
            <p class="text-white">The Forex market is the world’s largest financial market and is open 24 hours a day, 5
                days a week. Trade Forex whenever it suits you.
            </p>
            <button class="btn btn-success btn-lg">TRADE FOREX</button>
        </div>
        <article class="page-header__menu-container">
            <div class="page-header__menu">
                <div class="menu-item"><a href="#" class="menu-title">Education
                        overview</a></div>
                <div class="menu-item current-page"><a href="#" class="menu-title">Advantages of
                        forex</a></div>
                <div class="menu-item"><a href="#" class="menu-title">Advantages of
                        cfds</a></div>
                <div class="menu-item"><a href="#" class="menu-title">Video tutorials</a>
                </div>
                <div class="menu-item"><a href="#" class="menu-title">Web TV</a></div>
            </div>
        </article>
        <article class="page-content-container ">
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <div class="double-sidebar-block">
                        <div class="sidebar-cta-card-container sidebar-top-card random-background rnd-back-1">
                            <div class="bottom-block">
                                <p class="bottom-block__message">Access over 200 markets &amp; tight
                                    spreads&nbsp;<br><br><b>with a regulated CFD Provider&nbsp;</b></p>
                                <div class="icm-button-wrapper bottom-block__cta-button">
                                    <button class="btn btn-success">
                                        <a href="#">Start Trading</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="contact-card contact-block">
                            <div class="contact-header">
                                <div class="header-label">Contact Us</div>
                                <div class="header-title">We're here 24hrs a day Monday to Sunday.</div>
                            </div>
                            <div class="contact-pre-imaged chat-img">
                                <div><a href="#" class="text-dark">Help Centre</a></div>
                            </div>

                            <div class="contact-pre-imaged email-img">
                                <div><a href="#" class="text-dark">Email Us</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="first-section">
                        <h4
                            style="color: rgba(11,10,20,0.64); margin-bottom: 64px; font-size: 24px; font-weight: bold;">
                            Margin foreign exchange is a contract between two parties
                            agreeing to
                            exchange the
                            difference in the value of a currency between the time at which the position is opened and
                            the time at which it is closed.</h4>
                        <p>The main advantage of foreign exchange (Forex) is that is open around the clock 24 hours a
                            day 5 days a week, enabling traders to buy and sell from Sunday night to Friday night and
                            access leverage in order to speculate from global currency flows and news events. Forex is
                            also the largest and most liquid market in the world making it the last of the true arenas
                            where fair market competition and real price discovery exists.
                            <br>
                            Some of the advantages of Forex trading are listed below. Find out why Forex is fastest
                            growing market in the world.</p>
                    </div>
                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">24 Hour Market</p>
                    <p>The Forex market is open 24 hours a day, 5 days a week. Trading starts when major global
                        financial centres around the world open. The market opens in New Zealand on Sunday evening and
                        ends after the market closes in New York on Friday. The greatest liquidity occurs when multiple
                        time zones overlap.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Liquidity</p>
                    <p>One of the main benefits of the Forex market is its superior liquidity. The foreign exchange
                        market is the most liquid market in the world, this is one of the main differentiating factors
                        between the Forex market and other financial markets. The foreign exchange market turns over 5
                        trillion dollars each day and this high liquidity means that your assets can be quickly
                        converted to cash without any price discount, making it easy to convert a large sum of money
                        into a foreign currency with little impact on the price.</p>

                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Accessibility</p>
                    <p>The amount required to trade Forex is generally lower than what would be required to trade other
                        financial markets. In addition to this, multiple desktop and mobile trading platforms make it
                        easy to access the Forex markets at any time.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Leverage</p>
                    <p>Forex can be traded on leverage. Leverage means a lower initial outlay is required to open a
                        larger position. For example, if you have $1,000 in your trading account and use leverage of
                        1:100, you would be able to open a position with a value of $100,000 (100 times the amount in
                        the your account). It is however important to note that although leverage gives traders the
                        ability to open larger positions to maximise potential profits, the potential for loss is
                        equally as large.</p>

                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Trade Both Rising and Falling Markets</p>
                    <p>There are no restrictions in the Forex market as to which direction you can trade. This means
                        that if you believe a currency pair is going to increase in value you can buy it or ‘go long’.
                        Similarly, if you believe the pair is going to decrease in value you could sell it, or ‘go
                        short’.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Low Cost of Trading</p>
                    <p>The cost per transaction in Forex is less than a tenth of the cost of your average stock trade.
                        This represents a huge saving. It also means a lower investment amount is needed to begin
                        trading Forex.</p>

                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Transparency</p>
                    <p>In some exchange based markets, larger players have been known to move stocks or commodities in
                        order to gain an unfair advantage. Given the deep liquidity in the foreign exchange market it is
                        almost impossible to interfere with general market forces. This results in a fair and
                        transparent market for all participants.</p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Volatility</p>
                    <p>Due to the huge daily volumes of the Forex market there is always volatility. Increased
                        volatility means more access to trading opportunities. You have the ability to pick currency
                        pairs that suit your trading style. For example the AUD/NZD is a great currency to begin trading
                        as a beginner due to its lower daily range and low spread, whereas the EUR/USD would be better
                        suited for an advanced trader due to its large daily range and the speed with which it moves.
                    </p>

                </div>
            </div>
            <div class="page-content bgcolor2">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Non-Standardised Contract Sizes</p>
                    <p>Forex is an over-the-counter market unlike the stock and futures markets. This means Forex
                        traders have flexibility in position sizing and can trade any amount between 0.01 lots (1 micro
                        lot) and 200 lots. This gives traders a greater ability to manage their risk.
                    </p>

                </div>
            </div>
            <div class="page-content bgcolor1">
                <div class="page-section">
                    <p style="font-size: 48px;
                    line-height: 60px;
                    font-weight: 200;
                    margin-bottom: 30px;">Disadvantages</p>
                    <p>You should always consider your risk appetite and investment strategy prior to trading leveraged
                        products. Leverage can work for you as well as against you and can magnify profits as well as
                        losses. In the event of a significant move against you, you may lose more than your initial
                        deposit. Further information regarding the benefits and risks can be found in our Product
                        Disclosure Statement.
                    </p>

                </div>
            </div>
        </article>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>