<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="edu-overview-top text-center">
            <div class="edu-overview-top-content">
                <h1 class="text-white">Education Overview</h1>
                <p>Experience fast execution, tight spreads and unrestricted trading conditions on <br>
                    the award-winning MetaTrader 4 platform.</p>
                <button type="button" class="btn btn-success btn-lg">START TRADING</button>
            </div>
        </div>
        <div class="edu-overview-navbar">
            <div class="menu-item active"><a href="#">Education Overview</a></div>
            <div class="menu-item"><a href="#">Advantages of forex</a></div>
            <div class="menu-item"><a href="#">Advantages of cfds</a></div>
            <div class="menu-item"><a href="#">Video tutorials</a></div>
            <div class="menu-item"><a href="#">Web TV</a></div>
        </div>
        <div class="edu-overview-content">
            <div class="right-sidebar">
                <div class="top">
                    <img src="/images/company-logo.png" alt="company-logo" width="200px">
                    <p>Access over 200 markets & tight spreads</p>
                    <p>with a regulated CFD Provider </p>
                    <button type="button" class="btn btn-success">START TRADING</button>
                </div>
                <div class="bottom">
                    <h1>Contact Us</h1>
                    <p>We're here 24hrs a day Monday to Sunday.</p>
                    <h2><a href="">Help Center</a></h2>
                    <h2><a href="">Email Us</a></h2>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>