<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="edu-top text-center">
            <h1 class="text-white">Web TV</h1>
            <p class="text-white">Actionable trade ideas and market commentary in a short video format. Recorded daily
                from the floor of the New York Stock Exchange, our WebTV presented in association with Trading Central
                offer unmatched coverage on global equities, currencies and commodities.
            </p>
            <button class="btn btn-success btn-lg">START TRADING</button>
        </div>
        <article class="page-header__menu-container">
            <div class="page-header__menu">
                <div class="menu-item"><a href="/sc/en/education/education-overview" class="menu-title">Education
                        overview</a></div>
                <div class="menu-item"><a href="/sc/en/education/advantages-of-forex" class="menu-title">Advantages of
                        forex</a></div>
                <div class="menu-item"><a href="/sc/en/education/advantages-of-cfds" class="menu-title">Advantages of
                        cfds</a></div>
                <div class="menu-item"><a href="/sc/en/education/video-tutorials" class="menu-title">Video
                        tutorials</a>
                </div>
                <div class="menu-item current-page"><a href="/sc/en/education/web-tv" class="menu-title">Web TV</a>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>