<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title><%= title %></title>
<meta name="description" content="✅ Vins Global Fintech">
<meta name="keywords" content="vgf, vins global, vins global fintech">
<meta name="author" content="VGF">
<meta property="og:url" content="https://vgfinex.com/" />
<meta property="og:image" content="https://vgfinex.com/images/company-dark-logo.jpg" />
<meta property="og:description" content="✅ Vins Global Fintech" />
<link rel="icon" href="/images/favicon.jpg" sizes="36x16">
<link rel="canonical" href="./" />
<script src="/js/jquery-3.5.1.slim.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/fontawesome/all.min.css">
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/js/swiper.min.js"></script>
<link rel="stylesheet" href="/css/swiper.min.css">
<!------animated------>
<script src="/js/wow.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<meta name="google-site-verification" content="nzYR--z7hLvdlcnk32FhC9QvEMFS5Q6XkqysMllIFLI" />
<script async src="https://cdn.ampproject.org/v0.js"></script>