<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="/images/company-logo.png" alt="VGF-logo" width="165px" height="80px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #fff;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <span>Our Service</span>
                <ul class="sub-menu">
                    <li>
                        <span>Forex Market</span>
                        <ul class="sub-menu-lv2">
                            <li><a href="/services/forex/1">Over review</a></li>
                            <li><a href="/services/forex/2">Forex</a></li>
                            <li><a href="/services/forex/3">Commodities</a></li>
                            <li><a href="/services/forex/4">Indices</a></li>
                        </ul>
                    </li>
                    <li><a href="/services/copy_trade">Copy Trade</a></li>
                    <li><a href="/services/capital_markets">Capital Markets</a></li>
                    <li><a href="/services/technology_advisory">Technology & Advisory</a></li>
                    <li><a href="/services/finance_rish">Finance & Rish</a></li>
                    <li><a href="/services/portfolio_management">Portfolio Management</a></li>
                    <li><a href="/services/blockchain">Blockchain</a></li>
                    <li><a href="/services/finance_training">Finance Training</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>Our Support</span>
                <ul class="sub-menu">
                    <li>
                        <span>Education</span>
                        <ul class="sub-menu-lv2">
                            <li><a href="/support/education/education_overview">Education Overview</a></li>
                            <li><a href="/support/education/trading_knowledge">Trading Knowledge</a></li>
                            <li><a href="/support/education/advantage_of_forex">Advantage of Forex</a></li>
                            <li><a href="/support/education/advantage_of_cfds">Advantage of CFDs</a></li>
                            <li><a href="/support/education/video_tutorials">Video Tutorials</a></li>
                            <li><a href="/support/education/web_tv">Web TV</a></li>
                            <li><a href="/support/education/getting_start">Getting Started (10 lessons)</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Help & Resource</span>
                        <ul class="sub-menu-lv2">
                            <li><a href="/support/help">Help Center</a></li>
                            <li><a href="#">Market Analysis blog</a></li>
                            <li><a href="#">Economic Calendar</a></li>
                            <li><a href="#">Forex Glossary</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <span>Promotion</span>
                <ul class="sub-menu">
                    <li><a href="#">30% welcome credit</a></li>
                    <li><a href="#">Rebate Promotions</a></li>
                    <li><a href="#">Loyalty Program</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <span>Partnerships</span>
                <ul class="sub-menu">
                    <li><a href="#">Regional Partnerships</a></li>
                    <li><a href="#">Introducing Broker</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">Shop</a>
            </li>
            <li class="nav-item">
                <span>About Us</span>
                <ul class="sub-menu">
                    <li><a href="#">About VGF</a></li>
                    <li><a href="#">Why VGF</a></li>
                    <li><a href="#">Regulation</a></li>
                    <li><a href="#">Legal Document</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>