<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="bg-dark">
            <div class="container bg-light p-0">
                <h1 class="t-h1" style="text-align: center;background: #2b2b77;padding: 0.5em 0;color: #fff;">VGF
                    GROUP LICENSES & REGULATION</h1>
                <div class="media d-flex p-3" style="height: 100vh;">
                    <img src="https://soi.today/wp-content/images/2014/11/Grand-Union-Flag.jpg"
                        style="font-size: 1rem; max-width: 300px;">
                    <div class="ml-3">
                        <h5 class="mt-0"><a
                                href="https://www.nfa.futures.org/BasicNet/basic-search-results.aspx?rnd=5539.128609634185"
                                target="_blank" class="text-dark">National Futures Association (NFA)</a><br></h5>
                        <p>VGF is registered and regulated by the U.S National Futures Association </p>
                        <p>NFA Register Number: 0530057</p>
                        <p>The National Futures Association is the self-regulatory organization for the U.S. derivatives
                            industry, including on-exchange traded futures, retail off-exchange foreign currency and OTC
                            derivatives. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>