<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="icon" href="images/favicon.jpg" sizes="36x16">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/swiper.min.css">
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper">
        <div class="header">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="images/company-logo.png" alt="VGF-logo" width="165px" height="80px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color: #fff;"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="fmDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forex Market
                                </a>
                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="fm">
                                    <a class="dropdown-item" href="#">Overview</a>
                                    <a class="dropdown-item" href="#">Forex</a>
                                    <a class="dropdown-item" href="#">Stocks</a>
                                    <a class="dropdown-item" href="#">Futures</a>
                                </div>
                                <a class="dropdown-item" href="#">Copy trade</a>
                                <a class="dropdown-item" href="#">Capital market</a>
                                <a class="dropdown-item" href="#">Technology & Advisory</a>
                                <a class="dropdown-item" href="#">Finance & Risk</a>
                                <a class="dropdown-item" href="#">Portfolio Management</a>
                                <a class="dropdown-item" href="#">Blockchain</a>
                                <a class="dropdown-item" href="#">Finance Training</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our Support
                            </a>
                            <div class="dropdown-menu" aria-labelledby="fmDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Education
                                </a>
                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="fm">
                                    <a class="dropdown-item" href="#">Education Overview</a>
                                    <a class="dropdown-item" href="#">Trading Knowledge</a>
                                    <a class="dropdown-item" href="#">Advantage of Forex</a>
                                    <a class="dropdown-item" href="#">Advantage of CFDs</a>
                                    <a class="dropdown-item" href="#">Video tutorials course</a>
                                    <a class="dropdown-item" href="#">Web TV</a>
                                    <a class="dropdown-item" href="#">Getting started (10 lessons)</a>
                                </div>
                                <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Help & Resource
                                </a>
                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="fm">
                                    <a class="dropdown-item" href="#">Help Center</a>
                                    <a class="dropdown-item" href="#">Market Analysis blog</a>
                                    <a class="dropdown-item" href="#">Forex Caculators</a>
                                    <a class="dropdown-item" href="#">Economic Calendar</a>
                                    <a class="dropdown-item" href="#">Forex Glossary</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Promotion
                            </a>
                            <div class="dropdown-menu" aria-labelledby="pDropdown">
                                <a class="dropdown-item" href="#">30% wellcome credirt</a>
                                <a class="dropdown-item" href="#">Loyalty Program</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partnership
                            </a>
                            <div class="dropdown-menu" aria-labelledby="pDropdown">
                                <a class="dropdown-item" href="#">Regionnal Partnership</a>
                                <a class="dropdown-item" href="#">Introducing Broker</a>
                                <a class="dropdown-item" href="#">Affilicate Program</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="pDropdown">
                                <a class="dropdown-item" href="#">About VGF</a>
                                <a class="dropdown-item" href="#">Why VGF</a>
                                <a class="dropdown-item" href="#">Regulation</a>
                                <a class="dropdown-item" href="#">Legal Document</a>
                                <a class="dropdown-item" href="#">Careers</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </div>
            </nav>
            <!-- Navbar End -->
            <!-- Slide Start -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide1">
                        <div class="wrap-slide">
                            <div class="content">
                                <h1>Vins Global Fintech</h1>
                                <p class="text-white">We help you managing asset, provide financial advise. Leave money
                                    issue with us and
                                    focus on your core business.</p>
                            </div>
                            <div class="btnGroup">
                                <button type="button" class="btn btn-outline-info btn-lg"><a href="#">Learn
                                        more</a></button>
                                <button class="btn btn-primary btn-lg" type="submit"><a href="#">Contact Us</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide2">
                        <div class="wrap-slide">
                            <div class="content">
                                <h4>we help</h4>
                                <h1>growing business</h1>
                                <p class="text-white">We help you managing asset, provide financial advise. Leave money
                                    issue with us and
                                    focus on your core business.</p>
                            </div>
                            <div class="btnGroup">
                                <button type="button" class="btn btn-outline-info btn-lg"><a href="#">Learn
                                        more</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- Slide End -->
        </div>

        <!-- 3 sologan -->
        <div class="container-fluid" style="padding: 0 15px">
            <div class="row m-0">
                <div class="col-4">
                    <div class="row box1">
                        <div class="col-4"><img src="images/clock.png" alt="clock" width="60px" height="60px"></div>
                        <div class="col-8">
                            <h3>On time
                                </br>Service</h3>
                            <p class="text-white">Transforming distribution and marketing with key capabilities in
                                customer insight and
                                analytics.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row box2">
                        <div class="col-4"><img src="images/team.png" alt="clock" width="60px" height="60px"></div>
                        <div class="col-8">
                            <h3>A Team of Professional.</h3>
                            <p class="text-white">Transforming distribution and marketing with key capabilities in
                                customer insight and
                                analytics.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row box3">
                        <div class="col-4"><img src="images/analytics.png" alt="clock" width="60px" height="60px"></div>
                        <div class="col-8">
                            <h3>Analyze Your Business.</h3>
                            <p class="text-white">Transforming distribution and marketing with key capabilities in
                                customer insight and analytics.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <br>
            <h1 style="color: #000">Services We Provide</h1>
            <p class="mt-4" style="color: #ccc; text-transform: uppercase;">convered in these area</p>
            <hr>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-3 box">
                <div class="card m-0">
                    <img src="images/forex.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forex</h5>
                        <p class="card-text text-secondary">Open 24 hours a day 5 days a week, the foreign
                            exchange market is
                            the largest and most liquid market in the world with volumes of o…
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3 box">
                <div class="card m-0">
                    <img src="images/copytrade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Copy Trade</h5>
                        <p class="card-text text-secondary">LONDON (Reuters) - The cost of swapping euros and
                            sterling for dollars in FX swap markets fell on Monday to the lowest in over a de…
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3 box">
                <div class="card m-0">
                    <img src="images/finance.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Finance Training</h5>
                        <p class="card-text text-secondary">Investing.com - The dollar was in demand in early
                            trading in Europe on Friday, as investors sought safety following the d…
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- About Us-->
        <div class="col-sm col-md-12 about-us-wrapper" style="height: 400px;">
            <br>
            <h1 style="color: #000;" class="text-center"><span style="color: #fff">Something
                    About
                    Us</span></h1>
            <br>
            <div class="row main-container-wrapper">
                <div class="col-md-12 col-lg-6">
                    <p class="text-white" style="font-size: 20px; font-weight: 200;">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                        of
                        spring
                        which
                        I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
                        which was created for the bliss of souls like mine. I am so happy,
                        my dear friend, so absorbed in the wind I should be incapable of drawing a
                    </p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <p class="text-white" style="font-size: 20px; font-weight: 200;">
                        single stroke at the present moment; and yet I feel that I never was a greater artist
                        than
                        now.
                        When, while the lovely valley teems with vapour around me, and the meridian.
                        I throw myself down among the tall grass by the trickling stream; and.
                    </p>
                </div>
            </div>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="row" style="background-color: #f3f3f3; margin-top: -80px; z-index: 10">
                    <div class="col-lg-6 p-0">
                        <img src="images/about-us-img1.jpg" alt="image" width="100%">
                    </div>
                    <div class="col-lg-6" style="padding: 20px 0 0 30px">
                        <p>DID YOU KNOW THAT</p>
                        <br>
                        <h2 class="text-primary">We are trusted by </br> more than 5,000 clients</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                            this spot, which was created for the bliss of souls like mine. More than 25 years of
                            experience working in the industry has enabled us to build our services and solutions in
                            strategy, consulting, digital.</p>
                        <br>
                        <button class="btn btn-outline-primary btn-lg">Read Our Story</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row" style="background-color: #f3f3f3; z-index: 10">
                    <div class="col-lg-6 bg-dark" style="padding: 20px 30px 30px 40px">
                        <h1 class="text-primary">We are an expert<br> in<br> this field</h1>
                        <br>
                        <h4>Yet I feel that I never was a greater artist than now. <br> When, while the lovely valley
                            teems.</h4>
                        <br>
                        <ul style="font-size: 20px;">
                            <li><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your expectation</li>
                            <li><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your expectation</li>
                            <li><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your expectation</li>
                            <li><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your expectation</li>
                        </ul>
                        <br>
                        <button class="btn btn-outline-primary btn-lg">Read Our Story</button>
                    </div>
                    <div class="col-lg-6 p-0 bg-white">
                        <img src="images/about-us-img2.jpg" alt="image" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <!-- About Us End -->
        <!-- Success Story -->
        <div class="container">
            <div class="successStory">
                <br>
                <h1 style="color: #000" class="text-center">Profestional Trader</h1>
                <p class="mt-4 text-center" style="color: #bbb; text-transform: uppercase;">WHAT WE HAVE DONE</p>
                <hr>
                <br>
                <div class="row main-container-wrapper what-ve-done bg-gray">
                    <div class="caption col-lg-3">
                        <h2 class="text-primary count">10,000</h2>
                        <p>All Time Clients</p>
                    </div>
                    <div class="caption col-lg-3">
                        <h2 class="text-primary count">1,000</h2>
                        <p>Clients In This Year</p>
                    </div>
                    <div class="caption col-lg-3">
                        <h2 class="text-primary count">1,000</h2>
                        <p>New Projects</p>
                    </div>
                    <div class="caption col-lg-3">
                        <h2 class="text-primary count">100</h2>
                        <p>Avg Profit Increased</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="images/sir.jpg" width="100%" alt="sir" />
                    </div>
                    <div class="col-6">
                        <blockquote></blockquote>
                        <h1 class="text-dark">Our goal is to be at the heart of the financial services industry as
                            businesses expand
                            across the globe.</h1>
                        <h3 class="text-primary mt-4 mb-4">John Smith</h3>
                        <p class="text-primary">CEO Of Vins Global Fintech</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="ourCase">
            <br>
            <h1 style="color: #000" class="text-center">Our Cases</h1>
            <p class="mt-4 text-center" style="color: #ccc; text-transform: uppercase;">convered in these area</p>
            <hr>
            <br>
            <div class="our-case-pic">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3 m-0 p-0">
                        <img src="images/teach1.jpg" alt="teach1" width="100%" height="330px">
                        <div class="item-content m-2">
                            <h3>Live Trainning</h3>
                            <div style="color: #fff; font-size: 18px;">
                                Live Training desc
                            </div>
                            <a class="read-more-view mt-2" tabindex="0">
                                <span> Read More <i class="fa fa-long-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0">
                        <img src="images/teach2.jpg" alt="teach2" width="100%" height="330px">
                        <div class="item-content mt-2">
                            <h3>Event</h3>
                            <div style="color: #fff; font-size: 18px;">
                                Event Description
                            </div>
                            <a class="read-more-view mt-2" tabindex="0">
                                <span> Read More <i class="fa fa-long-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
        <!-- Footer-->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row footer-wrapper p-4 m-0" style="background-color: #000;">
            <div class="col-sm col-md-12 col-lg-3">
                <div class="footer-company-info">
                    <img width="150px" src="images/company-logo.png" alt="logo" class="mb-5">
                    <p class="text-white"><i class="fa fa-location-arrow"
                            style="font-size: 16px ;color: #ffffff ;margin-right: 10px ;"></i>&nbsp;
                        Floor 38, Landmark 81 Tower, 207 Nguyen Huu Canh St,
                        Binh Thanh District, Ho Chi Minh City, Vietnam
                    </p>
                    <p class="text-white"><i class="fa fa-phone"
                            style="font-size: 16px ;color: #ffffff ;margin-right: 10px ;"></i>
                        +(84)98 979 60 90</p>
                    <p class="text-white"><i class="fa fa-envelope-open-o"
                            style="font-size: 16px ;color: #ffffff ;margin-right: 10px ;"></i>
                        ib@btpfx.com</p>
                </div>
            </div>
            <div class="col-sm col-md-12 col-lg-3">
                <h3 class="title">Recent News</h3>
                <ul class="list-links">

                    <li>
                        <a href="/partnership/live-training/">Live Trainning</a><br><span>April 18, 2020</span>
                    </li>

                    <li>
                        <a href="/partnership/educations/">Education</a><br><span>April 18, 2020</span>
                    </li>

                    <li>
                        <a href="/partnership/h-r/">H &amp; R</a><br><span>April 18, 2020</span>
                    </li>

                </ul>
            </div>
            <div class="col-sm col-md-12 col-lg-2 useful-link">
                <h3 class="title">Useful Links</h3>
                <ul class="list-links">
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/services">Our Services</a></li>
                    <li><a href="/minigame">Minigame</a></li>
                    <li><a href="/support">Our Support</a></li>
                    <li><a href="/partnership">Partnership</a></li>
                </ul>
            </div>
            <div class="col-sm col-md-12 col-lg-3">
                <h3 class="title">Contact Form</h3>
                <form>
                    <div class="form-group col-sm col-lg-12 form-group-lg">
                        <input type="email" class="form-control input-lg form-control-custom " required=""
                            id="exampleInputFullName" placeholder="Full Name*">
                    </div>
                    <div class="form-group col-sm col-lg-12 form-group-lg">
                        <input type="email" class="form-control input-lg form-control-custom" required=""
                            id="exampleInputEmail3" placeholder="Email*">
                    </div>
                    <div class="form-group col-sm col-lg-12 form-group-lg">
                        <textarea rows="5" class="form-control input-lg" required="" id="exampleMessage"
                            placeholder="Message*"></textarea>
                    </div>
                    <div class="form-group col-sm col-lg-12">
                        <button type="submit" class="btn btn-outline-success">Submit now</button>
                    </div>
                </form>
            </div>
            <div class="copyright-wrapper">
                <div class="copyright-container financity-container clearfix">
                    <div class="copyright-left financity-item-pdlr">
                        <ul>
                            <li><i class="fa fa-check"></i> &nbsp; Vins Global Fintech is authorized and
                                regulated by FinCEN in the US, MSB license number: 31000159151673</li>
                            <li><i class="fa fa-check"></i> &nbsp; Vins Global Fintech is authorized and
                                regulated by Canadian Fintrac MSB, MSB license number: M20512660, 250 BLOOR ST E
                                TORONTO TORONTO, ON, CANADA W4W1E6</li>
                            <li><i class="fa fa-check"></i> &nbsp; Vins Global Fintech is authorized and
                                regulated by NFA and NATIONAL FUTURES ASSOCIATION in the USA, NFA ID: 0530057</li>
                            <li><i class="fa fa-check"></i> &nbsp; Risk Warning: Trading Forex and
                                Leveraged Financial Instruments involves significant risk and can result in the loss
                                of your invested capital. You should not invest more than you can afford to lose and
                                should ensure that you fully understand the risks involved. Trading leveraged
                                products may not be suitable for all investors. Before trading, please take into
                                consideration your level of experience, investment objectives and seek independent
                                financial advice if necessary. It is the responsibility of the Client to ascertain
                                whether he/she is permitted to use the services of the BTF Prime brand based on the
                                legal requirements in his/her country of residence.</li>
                            <li><i class="fa fa-check"></i> &nbsp; Please read BTF Prime’s full Risk
                                Disclosure.</li>
                            <li><i class="fa fa-check"></i> &nbsp; Regional restrictions: BTF Prime
                                brand does not provide services to residents of the USA, Mauritius, Japan, Canada,
                                Haiti, Suriname, the Democratic Republic of Korea, Puerto Rico, the Occupied Area of
                                Cyprus. Find out more in the Regulations section of our FAQs.</li>
                        </ul>
                        <br>
                        Copyright 2020, All Right Reserved
                    </div>
                    <div class="copyright-right financity-item-pdlr text-center">
                        <a href="https://www.facebook.com/Vins-Global-Fintech-107552634238148/" target="_self">
                            <i class="fa fa-facebook" style="font-size: 16px ;color: #ffffff ;margin-left: 17px ;"></i>
                        </a>
                        <a href="#" target="_self"><i class="fa fa-twitter"
                                style="font-size: 16px ;color: #ffffff ;margin-left: 17px ;"></i></a>
                        <a href="#" target="_self"><i class="fa fa-linkedin"
                                style="font-size: 16px ;color: #ffffff ;margin-left: 17px ;"></i></a>
                        <a href="#" target="_self"><i class="fa fa-google-plus"
                                style="font-size: 16px ;color: #ffffff ;margin-left: 17px ;"></i></a>
                        <a href="#" target="_self"><i class="fa fa-instagram"
                                style="font-size: 16px ;color: #ffffff ;margin-left: 17px ;"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Swiper JS -->
        <script src="js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            $(document).ready(function () {
                $('.dropdown-submenu').on("click", function (e) {
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });

                var mySwiper = new Swiper('.swiper-container', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    loop: true,
                    speed: 500,
                    autoplay: {
                        delay: 2000,
                    }
                });
            });
        </script>
</body>

</html>