<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper">
        <div class="header">
            <!-- Navbar Start -->
            <%- include ('../../partials/header') %>
            <!-- Navbar End -->
            <!-- Slide Start -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide3">
                    </div>
                    <div class="swiper-slide swiper-slide4">
                    </div>
                </div>
            </div>
            <!-- Slide End -->
        </div>
        <div class="list-card" style="background-color: #eee; padding: 2em;">
            <div class="container">
                <h1>RECOMMENDATION</h1>
                <div class="row">
                    <div class="card"
                        style="border: 1px solid #ddd; width: 20rem;margin: 1em 1.5em; height: 27rem;padding: 1em;">
                        <img src="/images/ipx.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Apple iPhone X</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">500</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 20rem;margin: 1em 1.5em; height: 27rem; padding: 1em;">
                        <img src="/images/banner1.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Apple iPhone 11</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">1200</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 20rem;margin: 1em 1.5em; height: 27rem; padding: 1em;">
                        <img src="/images/bmw-card.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Mercedes C180 2020</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">89999</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-card" style="background-color: #eee; padding: 2em;">
            <div class="container">
                <h1>HIGH QUALITY</h1>
                <div class="row">
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/ipx.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Apple iPhone X</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">1200</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/ps4.png" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Sony PS4 Pro</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">704</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/xecanbang.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Xiaomi Balance Car</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">464</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-card" style="background-color: #eee; padding: 2em;">
            <div class="container">
                <h1>LUXURY STYLE</h1>
                <div class="row">
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/bmw-card.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Mercedes C180 2020</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">89999</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/vongtay.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Chow Tai Fook bracelet</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">7240</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/ghemassa.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Massage Chair</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">6750</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-card" style="background-color: #eee; padding: 2em;">
            <div class="container">
                <h1>EXQUISITE LIFE</h1>
                <div class="row">
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/ipx.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Apple Iphone X</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">500</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/huawei-p30.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Huawei p30 pro</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">904</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/mayhutbui.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">Dyson vacuum cleaner</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">800</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                    <div class="card"
                        style="border: 1px solid #ddd; width: 18rem;margin: 1em 1.5em; height: 25rem;padding: 1em;">
                        <img src="/images/gopro.jpg" class="card-img-top" alt="..." width="60%" height="60%">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">GoPro HERO7</h5>
                            <p class="card-text"><span style="font-size: 1.5em; color: red;">680</span> point</p>
                            <a href="#" class="btn btn-outline-dark">Exchange now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->

        <%- include ('../../partials/footer') %>
        <!-- Swiper JS -->
        <script src="js/swiper.min.js"></script>
</body>

</html>